:host {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  height: 24px;
  outline: none;
}

.open {
  transition: 0.3s transform ease-in-out;
  transform: rotate(90deg);
}

.close {
  transition: 0.3s transform ease-in-out;
  transform: rotate(-90deg);
}
